<footer style="padding: 5px;">
    <div id="footer" style="width: 98%; height: 250px; padding: 10px; background: none; margin: auto;">
        <span>Our carrier is to fulfill your order and get it at your door step</span>
    <div>
        <div class="about">
            <h2>About</h2>
            <p>Careers</p>
            <p>PartnerShip</p>
            <p>Our Team</p>
            <p>Privacy Policy</p>
        </div>
        <div class="service">
            <h2>Our Service</h2>
            <p>shipping Packages</p>
            <p>worldwide shipping</p>
            <p>interstate shipping</p>
            <p>Local Shipping</p>
        </div>
        <div class="gad">
            <h2>Why Us</h2>
            <p>Fast Shipping</p>
            <p>Best Customer Service</p>
            <p>Very fast and reliable</p>
            <p>Easy to Track Progress</p>
        </div>
    </div>
    <br>
    <div class="logo">
            <span><b>sendIT</b></span>
    </div>
    <div class="social">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-google"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-twitter"></i>
        </div> 
    </div>
    </footer>