<div class="header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/order/create-order">Create new Order</a></li>
            <li><a href="/order/orders">Manage order</a></li>
            <li><a href="/user/logout">logout</a></li>
        </ul>
    </nav>
</div>