body {
    font-family: Arial, sans-serif;
    margin: 5px;
    background: scroll;
    
}
form {
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    display: none;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.header{
    font-size: 25px;
    /* background: #000; */
    color: #000000;
}
/*.header nav{
    background: darkcyan;
}*/
.header ul{
    display: inline-block;
}
.header a{
    color: #000; 
    text-decoration: none;
    font-size: 30px;
}
.header li{
    list-style-type: none;
    float: inline-start;
    margin-right: 50px;
}

#maincontent{
    width: 95%;
    padding: 20px;
    background-image: url(/asstes/img/deli.jpg);
    background-size: cover;
    display: inline-block;
}
#maincontent img{
    width: 1305px;
    margin: auto;
}

.social{
    float: right;
    width: 390px;
    height: 40px;
    color: #000;
}
.logo{
    float: left;
    width: 300px;
    height: 40px;
    color: #000;
}
.logo h1{
    font-size: 25px;
    margin: 20px;
}
.social i{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 25px;
}

.about, .service, .gad {
    float:inline-start;
    margin-right: 30px;
    color: #000000;
}

.content{
    width: 370px;
    height: 340px;
    padding: 20px;
    background: #eee;
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    float: right;
}

.content h1{
    font-size: 40px;
}
.content p{
    font-size: 18px;
}

.content button{
    width: 160px;
    height: 40px;
    cursor: pointer;
}
#btn {
    float: left;
    background: #bbbbbb;
    color: #fff;
    text-align: center;
    border: none;
}
#btn2{
    float: right;
    border: none;
    background: lightskyblue;
}
#btn a, #btn2 a{
    color: #fff;
}
#des{
    display: inline-block;
    margin: auto;
    width: 95%;
    padding: 20px;
    background: #eee;
}
.aboutC{
    width: 400px;
    float: left;
}
.aboutC h2{
    font-size: 40px;
}
.aboutC p {
    font-size: 20px;
}
.aboutC button{
    width: 200px;
    height: 40px;
}
.aboutP{
    width: 450px;
    float: right;
    margin-left: 10px;
}
.aboutP img{
    width: 450px;
    height: 400px;
}

.sign-up{
    background:#eeeaea;
    padding: 20px;
    margin: auto;
    text-align: center;
    height: 500px;
}
.sign-up input{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
.sign-up button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
#sty{
    background: #c9c9c9;
    color: #fff;
    width: 560px;
    height: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}