<!DOCTYPE html>
<html>
   <head>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
       <link rel="stylesheet" href="/asstes/styles.css">
   </head>
<body>
   <header>
       <%- include('partials/nav') -%>
   </header>

<h3>welcome to <%= name %> profile!</h3>


   <footer>
       <%- include('partials/footer') -%>
   </footer>
</body>

</html>