<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/asstes/styles.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    </head>
    <body>
        <div id="header">
            <%- include('partials/header') -%>

        </div>
        <div id="maincontent">
            <!-- <img src="/asstes/img/deli.jpg" alt="our banner"> -->
            <div class="content">
                <h1>sendIT Company Is Here</h1>
                <p>if you're looking for the best platform for your package to be shipped to any
                    destination of your choice we're here to server the best quatilty, reliable service you've never 
                    experienced before...<br>
                <span>click the button below to sign up</span>
                </p>
                <button id="btn"><a href="/user/signup">Create Account</a></button>
                <button id="btn2"><a href="/user/login">Login</a></button>
            </div>
        </div>
        <div id="des">
            <div class="aboutC">
                <h2>About Us</h2>
                <p>Quickly incentivize impactful action items before tactical collaboration 
                    and idea-sharing. Monotonically engage market-driven intellectual capital through wireless opportunities. Progressively 
                    network performance based services for functionalized testing procedures.</p>
                <button>Learn More</button>
            </div>
            <div class="aboutP">
                <img src="/asstes/img/delv.jpg" alt="">
            </div>
        </div>
    <footer>
        <div class="footer">
            <%- include('partials/footer') -%>
        </div>
    </footer>
    </body>
</html>